
{% extends "homepage.html" %}

{% block content %}
<div class="container a13">
<div class="row a13">
   <div class="col-lg-12 text-center a13">
       <h1 class="mt-5">Welcome at my library</h1>
       <p class="lead">You may find here best movies!</p>
   </div>
   {% for movie in movies %}
       <div class="card row">
   <div class="my-auto text-center">
           <img class="card-img-top" src="http://placehold.it/300x500" alt="">
           <div class="card-body">
               <h4 class="card-title">Movie title</h4>
           </div>
           <div class="card-footer text-center">
               <a href="#" class="btn btn-primary">Show more</a>
           </div>
       </div>
   </div>
   {% endfor %}
</div>
</div>
{% endblock %}
